<!DOCTYPE html>
<html>
<head>
  <title>BlogOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- You should have error handling here - see below -->
  <% if flash[:error] %>
    <% flash[:error].each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
